.main-container{
    height: 400px;
}
.main-left h1{
    color: #3A4256;
    font-weight: 600;
    
}
.appointment-btn{
    height: 40px;
    width: 200px;
    background: linear-gradient(to left, #18D3B1, #10CFE3);
    color: #3A4256;
    font-size: 13px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 6px;
    transition: 1s;
}
.appointment-btn:hover{
    background: rebeccapurple;
    color: white;
}